.title
{
    color: red;
}
.App
{
    padding-left: 300px;
    padding-right: 100px;
    background-color: black;
    opacity: 0.8;
}
.imgsrc
{
    padding-left: 200px;
    padding-top: 20px;
    width: 300px;
}
.imgpublic
{
    padding-left: 200px;
    padding-top: 20px;
    width: 300px;
}
.video
{
 margin-top: 30px;
 padding-bottom: 20px;
}